zk://{% for host in groups['mesosmaster'] %}{{hostvars[host]['ansible_' + hostvars[host]['mesosphere_marathon_zk_iface']]['ipv4']['address']}}:{{mesosphere_marathon_zk_clientPort}}{% if not loop.last %},{% endif %}{% endfor %}/mesos