zk://{% for host in groups['zookeeper-quorum'] %}{{hostvars[host]['ansible_' + hostvars[host]['mesosphere_marathon_zk_iface']]['ipv4']['address']}}:{{mesosphere_marathon_xk_clientPort}}{% if not loop.last %},{% endif %}{% endfor %}/marathon